.keyboard-button{
    height: 58px !important;
    min-width: 44px !important;
    border-radius: 4px !important;
    background-color: #d3d6da !important;
    color: #000000 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0 6px 6px 0 !important;
    font-weight: bold !important;
    border: none !important;
    cursor: pointer !important;
}