@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#modal-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 300px;
  width: 500px;
  border: none;
}

#trophy {
  width: 13%;
}

#sad-face{
    width: 11%;
}

#modal-title {
  font-size: 2.26rem;
  font-weight: 500;
}

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  background-color: rgb(0 0 0 / 13%) !important;
}

.MuiTypography-root {
  font-family: "Poppins" !important;
}
