.input-space {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.game-space{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keyboard{
    margin-top: 110px;
}

