.square {
    height: 58px;
    width: 58px;
    margin: 2.5px;
    text-align: center;
    border-color: #d3d6da;
    border-style: solid;
    border-width: 2px;
    caret-color: transparent;
    cursor: default;
  }

  input:focus{
    outline: none;
    cursor: default;
  }

  input{
    font-size: 2rem;
    font-weight: bold;
  }